* {
  margin: 0;
  padding: 0;
}

.user-details {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 20px;
  align-items: center;
}

.card {
  background-color: #fff;
  box-shadow: 0 0 10px #ccc;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
}

.cardx {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
